<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>注册表单_MarkeCMS</title>
  <link rel="stylesheet" href="./static/layui/css/layui.css">
  <style type="text/css">
  	.main {
  		margin:20px auto;
  		max-width: 50%;
  	}
  	h1 {
  		text-align: center;
  		margin-bottom: 20px;
  	}
  </style>
</head>
<body>
<div class="main">
	<h1 class="layui-bg-red">用户注册</h1>
	<form class="layui-form" action="insert">
	  <div class="layui-form-item">
	    <label class="layui-form-label">用户名</label>
	    <div class="layui-input-inline">
	      <input type="text" name="title" required  lay-verify="required" placeholder="输入用户名" autocomplete="off" class="layui-input">
	    </div>
	    <div class="layui-form-mid layui-word-aux">用户名需大于六个字符</div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">密码</label>
	    <div class="layui-input-inline">
	      <input type="password" name="password" required lay-verify="required" placeholder="输入密码" autocomplete="off" class="layui-input">
	    </div>
	    <div class="layui-form-mid layui-word-aux">密码需大于六个字符小于24个字符</div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">所属区域</label>
	    <div class="layui-input-inline">
	      <select name="city" lay-verify="required">
	        <option value=""></option>
	        <option value="0">北京</option>
	        <option value="1">上海</option>
	        <option value="2">广州</option>
	        <option value="3">深圳</option>
	        <option value="4">杭州</option>
	      </select>
	    </div>
	    <div class="layui-form-mid layui-word-aux">仅限以下区域使用</div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">兴趣爱好</label>
	    <div class="layui-input-inline">
	      <input type="checkbox" name="like[write]" title="写作" checked>
	      <input type="checkbox" name="like[read]" title="阅读">
	      <input type="checkbox" name="like[dai]" title="发呆">
	      <input type="checkbox" name="like[ying]" title="摄影">
	    </div>
	    <div class="layui-form-mid layui-word-aux">如无可不选</div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">记住密码</label>
	    <div class="layui-input-block">
	      <input type="checkbox" name="switch" lay-skin="switch">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
</div>
 
<script src="./static/layui/layui.js"></script>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
  });
});
</script>
</body>
</html>