<div class="container">
	<div class="page-header">
	  <h1>分类添加 <small>Add classification</small></h1>
	</div>
	<div class="container">
		<form class="form-horizontal" action="admin_insert_stro" method="post" enctype="multipart/form-data">
		  <input type="hidden" name="create_time" value="{:time()}" />
		  <input type="hidden" name="create_time" value="{:time()}" />  
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">分类标题</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" name="title" id="inputPassword3" placeholder="分类标题">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">别名</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" name="other_title" id="inputPassword3" placeholder="别名">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">分类关键字</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" name="keywords" id="inputPassword3" placeholder="分类关键字">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">分类描述</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" name="description" id="inputPassword3" placeholder="分类描述">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">分类状态</label>
		    <div class="col-sm-3">
		      <select class="form-control" name="status">
				  <option value="0">审核</option>
				  <option value="1">已发布</option>
		      </select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">缩略图/图集</label>
		    <div class="col-sm-3">
				<link href="./static/img_them/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
				<script src="./static/img_them/js/fileinput.js" type="text/javascript"></script>
				<script src="./static/img_them/js/locales/zh.js" type="text/javascript"></script>
                <input id="file-3" type="file" name="image" multiple=true>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">文章内容</label>
		    <div class="col-sm-8">
				<!-- include summernote css/js -->
				<link href="./static/summernote/dist/summernote.css" rel="stylesheet">
				<script src="./static/summernote/dist/summernote.js"></script>
			    <script src="./static/summernote/dist/lang/summernote-zh-CN.js"></script>
			    <div id="summernote"></div>
			    <script>
			      $('#summernote').summernote({
			        placeholder: '在此输入内容',
			        tabsize: 2,
			        height: 100,
			        lang: 'zh-CN'
			      });
			    </script>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-3">
		      <button type="submit" class="btn btn-primary">发布</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
	<!--缩略图上传脚本代码-->
	<script>
	$("#file-3").fileinput({
      uploadUrl:"/admin_image", //接受请求地址
      uploadAsync : true, //默认异步上传
      showUpload : false, //是否显示上传按钮,跟随文本框的那个
      showRemove : false, //显示移除按钮,跟随文本框的那个
      showCaption : true,//是否显示标题,就是那个文本框
      showPreview : true, //是否显示预览,不写默认为true
      dropZoneEnabled : false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
      //minImageWidth: 50, //图片的最小宽度
      //minImageHeight: 50,//图片的最小高度
      //maxImageWidth: 1000,//图片的最大宽度
      //maxImageHeight: 1000,//图片的最大高度
      // maxFileSize: 2048,//单位为kb，如果为0表示不限制文件大小
      // minFileCount: 1,
      maxFileCount : 1, //表示允许同时上传的最大文件个数
      enctype : 'multipart/form-data',
      validateInitialCount : true,
      previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
      // msgFilesTooMany : "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
      allowedFileTypes : [ 'image' ],//配置允许文件上传的类型
      allowedPreviewTypes : [ 'image' ],//配置所有的被预览文件类型
      allowedPreviewMimeTypes : [ 'jpg', 'png', 'gif' ],//控制被预览的所有mime类型
      language : 'zh'
	});
	  //异步上传返回结果处理
	  $('#file-3').on('fileerror', function(event, data, msg) {
	      console.log("fileerror");
	      console.log(data);
	  });
	  //异步上传返回结果处理
	  $("#file-3").on("fileuploaded", function(event, data, previewId, index) {
	      console.log("fileuploaded");
	      var ref = $(this).attr("data-ref");
	      $("input[name='" + ref + "']").val(data.response.url);

	  });

	  //上传前
	  $('#file-3').on('filepreupload', function(event, data, previewId, index) {
	      console.log("filepreupload");
	  });
	</script>